In [119]:
import pandas as pd
import numpy as np
import datetime
import pytz
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 10)

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/happiness_with_continent.csv')

In [2]:
invoices = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/invoices.csv')

In [3]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,BFQH32BSTITBN67M,2015-01-26,3MTPP8FM3Q1HZG67,IMD0ZDA2GMD8HQTU,2015-01-29 09:00:00+01:00,['Wayne Johnston'],145.0,Breakfast,False
1,5O6UF7USB0B9F7MK,2017-11-01,08BS3TAONDO2X473,IMD0ZDA2GMD8HQTU,2017-10-30 21:00:00+01:00,['Wayne Johnston'],598.0,Dinner,False
2,4GHNJ45FS0H6TKQ8,2015-02-15,NK09YDZIMQ3ZILHC,IMD0ZDA2GMD8HQTU,2015-02-10 12:00:00+01:00,['Edwin Murray'],408.0,Lunch,False
3,PTX3MK692PNX1L9K,2014-11-13,ZKI7UOINY89F3F8M,IMD0ZDA2GMD8HQTU,2014-11-11 13:00:00+01:00,['Wayne Johnston'],354.0,Lunch,False
4,MBNVXEV3MYYFH7OB,2016-07-16,NYHHM6PNQ4EK3NCP,IMD0ZDA2GMD8HQTU,2016-07-17 13:00:00+02:00,['Wayne Johnston'],72.0,Lunch,False

In [4]:
#pd.to_datetime(invoices['Date of Meal'].values, utc=True)

In [5]:
invoices['Type of Meal'] = invoices['Type of Meal'].astype('category')
invoices['Date of Meal'] = invoices['Date of Meal'].astype('datetime64[ns]')
#invoices['Date of Meal'] = pd.to_datetime(invoices['Date of Meal'])
invoices['Date'] = invoices['Date'].astype('datetime64[ns]')
invoices['Meal Price'] = invoices['Meal Price'].astype('int')

In [6]:
invoices.head(5)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,BFQH32BSTITBN67M,2015-01-26,3MTPP8FM3Q1HZG67,IMD0ZDA2GMD8HQTU,2015-01-29 08:00:00,['Wayne Johnston'],145,Breakfast,False
1,5O6UF7USB0B9F7MK,2017-11-01,08BS3TAONDO2X473,IMD0ZDA2GMD8HQTU,2017-10-30 20:00:00,['Wayne Johnston'],598,Dinner,False
2,4GHNJ45FS0H6TKQ8,2015-02-15,NK09YDZIMQ3ZILHC,IMD0ZDA2GMD8HQTU,2015-02-10 11:00:00,['Edwin Murray'],408,Lunch,False
3,PTX3MK692PNX1L9K,2014-11-13,ZKI7UOINY89F3F8M,IMD0ZDA2GMD8HQTU,2014-11-11 12:00:00,['Wayne Johnston'],354,Lunch,False
4,MBNVXEV3MYYFH7OB,2016-07-16,NYHHM6PNQ4EK3NCP,IMD0ZDA2GMD8HQTU,2016-07-17 11:00:00,['Wayne Johnston'],72,Lunch,False

In [53]:
invoices.loc[45612,'Meal Price'] = 'I am causing trouble'
invoices.loc[35612,'Meal Price'] = 'Me too'

In [54]:
invoices['Meal Price'].astype(int)

ValueError: invalid literal for int() with base 10: 'Me too'

In [58]:
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

<class 'int'>    49972
<class 'str'>        2
Name: Meal Price, dtype: int64

In [63]:
invoices['Meal Price'][invoices['Meal Price'].apply(
  lambda x: isinstance(x,str)
)]

35612                  Me too
45612    I am causing trouble
Name: Meal Price, dtype: object

In [70]:
pd.to_numeric(invoices['Meal Price'],errors='coerce')

0        145.0
1        598.0
2        408.0
3        354.0
4         72.0
         ...
49969    156.0
49970    166.0
49971    447.0
49972    442.0
49973    471.0
Name: Meal Price, Length: 49974, dtype: float64

In [73]:
invoices['Meal Price'] = pd.to_numeric(invoices['Meal Price'],errors='coerce')
invoices['Meal Price'] = invoices['Meal Price'].fillna(invoices['Meal Price'].median())
invoices['Meal Price'].astype(int)

In [51]:
print(pd.to_datetime('2019-8-1'))
print(pd.to_datetime('2019/8/1'))
print(pd.to_datetime('8/1/2019'))
print(pd.to_datetime('Aug, 1 2019'))
print(pd.to_datetime('Aug - 1 2019'))
print(pd.to_datetime('August - 1 2019'))
print(pd.to_datetime('2019, August - 1'))
print(pd.to_datetime('20190108',format='%Y%d%m'))

2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00

In [52]:
print(pd.to_datetime('yolo 20190108',format='%Y%d%m', exact=False))

2019-08-01 00:00:00

## accessor - dt

In [120]:
pd.set_option('display.max_rows', 4)

In [121]:
invoices['Date of Meal'].dt.date

0        2015-01-29
1        2017-10-30
            ...
49972    2017-09-06
49973    2015-08-20
Name: Date of Meal, Length: 49974, dtype: object

In [145]:
invoices['Date of Meal'].dt.weekday_name

0         Thursday
1           Monday
           ...
49972    Wednesday
49973     Thursday
Name: Date of Meal, Length: 49974, dtype: object

In [158]:
invoices['Date of Meal'].dt.month_name()

0          January
1          October
           ...
49972    September
49973       August
Name: Date of Meal, Length: 49974, dtype: object

In [147]:
invoices['Date of Meal'].dt.days_in_month

0        31
1        31
         ..
49972    30
49973    31
Name: Date of Meal, Length: 49974, dtype: int64

In [123]:
invoices['Date of Meal'].dt.day

0        29
1        30
         ..
49972     6
49973    20
Name: Date of Meal, Length: 49974, dtype: int64

In [131]:
invoices['Date of Meal'].dt.week

0         5
1        44
         ..
49972    36
49973    34
Name: Date of Meal, Length: 49974, dtype: int64

In [124]:
invoices['Date of Meal'].dt.month

0         1
1        10
         ..
49972     9
49973     8
Name: Date of Meal, Length: 49974, dtype: int64

In [126]:
invoices['Date of Meal'].dt.quarter

0        1
1        4
        ..
49972    3
49973    3
Name: Date of Meal, Length: 49974, dtype: int64

In [127]:
invoices['Date of Meal'].dt.year

0        2015
1        2017
         ...
49972    2017
49973    2015
Name: Date of Meal, Length: 49974, dtype: int64

In [141]:
invoices['Date of Meal'].dt.is_month_end

0        False
1        False
         ...
49972    False
49973    False
Name: Date of Meal, Length: 49974, dtype: bool

In [140]:
invoices[invoices['Date of Meal'].dt.is_month_end]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
33,4N35C70QAIOT8LKP,2017-02-27,OMI95VT3QFN3R1GD,T8EYA0DUDZ08UWF4,2017-02-28 07:00:00,['Marcia Smith'],199.0,Breakfast,False
37,BQPDU42U4TO8GC87,2015-11-30,81N96PHFOOWH2F4C,B02E3P4QE278174C,2015-11-30 11:00:00,['Merrill Anderson'],446.0,Lunch,False
...,...,...,...,...,...,...,...,...,...
49948,U0FBPKDTAWFCN7KD,2016-11-30,RJGIF6LKVLGM5AIC,MG9YJE2ZEYJ0AS5E,2016-11-30 11:00:00,['Michelle Rodriguez'],700.0,Lunch,False
49951,ZF1SOBEWNYAOE8M1,2014-07-29,B1F4NU6IIH0JUKST,MG9YJE2ZEYJ0AS5E,2014-07-31 10:00:00,['Michelle Rodriguez'],673.0,Lunch,False

In [171]:
invoices['Date of Meal'].dt.to_pydatetime()

array([datetime.datetime(2015, 1, 29, 8, 0),
       datetime.datetime(2017, 10, 30, 20, 0),
       datetime.datetime(2015, 2, 10, 11, 0), ...,
       datetime.datetime(2017, 3, 7, 19, 0),
       datetime.datetime(2017, 9, 6, 6, 0),
       datetime.datetime(2015, 8, 20, 18, 0)], dtype=object)

In [172]:
invoices['Date of Meal'].dt.to_period('W')

0       2015-01-26/2015-02-01
1       2017-10-30/2017-11-05
                 ...
49972   2017-09-04/2017-09-10
49973   2015-08-17/2015-08-23
Name: Date of Meal, Length: 49974, dtype: object

In [179]:
invoices['Date of Meal'].dt.minute

0        0
1        0
        ..
49972    0
49973    0
Name: Date of Meal, Length: 49974, dtype: int64

## accessor - str

In [202]:
pd.set_option('display.max_rows', 200)

In [203]:
%timeit
invoices['Participants'].str.replace("\n ",",").str.replace("' '","','").str.replace("'",'"')

0                                       ["Wayne Johnston"]
1                                       ["Wayne Johnston"]
2                                         ["Edwin Murray"]
3                                       ["Wayne Johnston"]
4                                       ["Wayne Johnston"]
5                                       ["Wayne Johnston"]
6                                         ["Edwin Murray"]
7                                       ["Wayne Johnston"]
8                                       ["Wayne Johnston"]
9                                         ["Edwin Murray"]
10                                        ["Irene Patton"]
11                                       ["David Frohman"]
12                                       ["Irene Mckeown"]
13       ["Irene Patton","Shawn Carpenter","Joseph Evans"]
14                                        ["Joseph Evans"]
15                        ["David Frohman","Joseph Evans"]
16       ["Irene Mckeown","Irene Patton","Joseph Evans"...
17                                       ["Irene Mckeown"]
18                            ["Ron Dulac","Joseph Evans"]
19       ["Shawn Carpenter","Ron Dulac","David Frohman"...
20                                        ["Joseph Evans"]
21       ["David Frohman","Irene Mckeown","Shawn Carpen...
22       ["Ron Dulac","Irene Mckeown","Irene Patton","S...
23       ["Joseph Evans","Shawn Carpenter","David Frohm...
24                                        ["Marcia Smith"]
25                                        ["Marcia Smith"]
26                                        ["Marcia Smith"]
27                                        ["Marcia Smith"]
28                                        ["Marcia Smith"]
29                                        ["Marcia Smith"]
30                                        ["Marcia Smith"]
31                                        ["Marcia Smith"]
32                                        ["Marcia Smith"]
33                                        ["Marcia Smith"]
34                                        ["Marcia Smith"]
35                                        ["Marcia Smith"]
36                                    ["Merrill Anderson"]
37                                    ["Merrill Anderson"]
38                                       ["Charles Adams"]
39                                    ["Merrill Anderson"]
40                                    ["Merrill Anderson"]
41                                    ["Merrill Anderson"]
42                                       ["Charles Adams"]
43                                    ["Merrill Anderson"]
44                                       ["Charles Adams"]
45                                       ["Charles Adams"]
46                                      ["Margaret Crank"]
47                                        ["Donald Black"]
48       ["Margaret Crank","John Luttrell","Joyce Mille...
49       ["Margaret Crank","Nicholas Yasutake","John Lu...
50         ["Andrew Dawson","Donald Black","Joyce Miller"]
51       ["Donald Black","Margaret Crank","Andrew Dawso...
52                                       ["Andrew Dawson"]
53       ["Donald Black","Andrew Dawson","Nicholas Yasu...
54       ["Norman Grant","Henry Hall","Joseph Austin","...
55       ["Joseph Austin","Clarence Thompson","Dennis W...
56                                       ["Dennis Wilkes"]
57       ["Clarence Thompson","Joseph Austin","Dennis W...
58                                        ["Norman Grant"]
59                                        ["Norman Grant"]
60       ["Norman Grant","Henry Hall","Clarence Thompso...
61       ["Dennis Wilkes","Joseph Austin","Henry Hall",...
62                                        ["Norman Grant"]
63       ["Dennis Wilkes","Clarence Thompson","Joseph A...
64                                          ["Henry Hall"]
65           ["Joseph Austin","Norman Grant","Henry Hall"]
66       ["Clarence Thompson","Dennis Wilkes","Joseph A...
67                    ["Norman Grant","Clarence Thompson"]
68                                   ["Woodrow Hutchison"]
69                                   ["Woodrow Hutchison"]
70                                   ["Woodrow Hutchison"]
71                                   ["Woodrow Hutchison"]
72                                   ["Woodrow Hutchison"]
73                                   ["Woodrow Hutchison"]
74                                   ["Woodrow Hutchison"]
75                                   ["Woodrow Hutchison"]
76                                   ["Woodrow Hutchison"]
77                                   ["Woodrow Hutchison"]
78                                   ["Woodrow Hutchison"]
79                                   ["Woodrow Hutchison"]
80                                   ["Woodrow Hutchison"]
81                                   ["Woodrow Hutchison"]
82       ["Michelle Lacoy","Juan Trudeau","Manuel Oswald"]
83                                       ["Manuel Oswald"]
84                                       ["Manuel Oswald"]
85                                          ["Aaron Wall"]
86         ["Michelle Lacoy","Manuel Oswald","Aaron Wall"]
87                        ["Juan Trudeau","Manuel Oswald"]
88                                          ["Aaron Wall"]
89                       ["Juan Trudeau","Michelle Lacoy"]
90                       ["Juan Trudeau","Michelle Lacoy"]
91                         ["Michelle Lacoy","Aaron Wall"]
92                                       ["Manuel Oswald"]
93                         ["Aaron Wall","Michelle Lacoy"]
94                                          ["Aaron Wall"]
95                                       ["David Allison"]
96                                       ["David Allison"]
97                                        ["Dianne Beach"]
98                                        ["Dianne Beach"]
99                                       ["David Allison"]
                               ...
49874                                     ["Raymond King"]
49875      ["Raymond King","Mary Walker","George Leonard"]
49876                 ["Bette Heredia","Elizabeth Obrien"]
49877                                 ["Elizabeth Obrien"]
49878                ["Kevin Gallaway","Elizabeth Obrien"]
49879                                   ["Kevin Gallaway"]
49880                                   ["Kevin Gallaway"]
49881                                    ["Bette Heredia"]
49882                 ["Elizabeth Obrien","Bette Heredia"]
49883                                    ["Colleen Vesco"]
49884                                    ["Colleen Vesco"]
49885                                    ["Colleen Vesco"]
49886                                    ["Colleen Vesco"]
49887                                    ["Colleen Vesco"]
49888                                    ["Colleen Vesco"]
49889                                    ["Colleen Vesco"]
49890                                    ["Colleen Vesco"]
49891                                    ["Colleen Vesco"]
49892                                    ["Colleen Vesco"]
49893                                    ["Colleen Vesco"]
49894                                 ["Julie Haverstock"]
49895                                 ["Julie Haverstock"]
49896                                  ["Miguel Richmond"]
49897                                       ["Juan Saenz"]
49898               ["Julie Haverstock","Miguel Richmond"]
49899                     ["Juan Saenz","Miguel Richmond"]
49900                                       ["Juan Saenz"]
49901                                 ["Julie Haverstock"]
49902                                  ["Miguel Richmond"]
49903                                  ["Miguel Richmond"]
49904                                    ["Robert Torres"]
49905    ["Richard Allmand","Emily Sayre","Raymond Coop...
49906                                   ["Raymond Cooper"]
49907                     ["Emily Sayre","Raymond Cooper"]
49908                                      ["Emily Sayre"]
49909    ["Lisa Schmidt","Robert Torres","Richard Allma...
49910     ["Ronald Nolazco","Emily Sayre","Robert Torres"]
49911                                      ["Emily Sayre"]
49912                                      ["Emily Sayre"]
49913                    ["Lisa Schmidt","Ronald Nolazco"]
49914                      ["Emily Sayre","Robert Torres"]
49915    ["Robert Torres","Lisa Schmidt","Ronald Nolazc...
49916                                   ["Raymond Cooper"]
49917                                      ["Emily Sayre"]
49918                                 ["William Lovisone"]
49919                                 ["William Lovisone"]
49920                                    ["David Mendoza"]
49921                                 ["William Lovisone"]
49922                                    ["David Mendoza"]
49923                                    ["David Mendoza"]
49924                                 ["William Lovisone"]
49925                                  ["Andrea Faulkner"]
49926                                  ["Andrea Faulkner"]
49927                                  ["Andrea Faulkner"]
49928                                  ["Andrea Faulkner"]
49929                                  ["Andrea Faulkner"]
49930                                  ["Andrea Faulkner"]
49931                                  ["Andrea Faulkner"]
49932                                  ["Andrea Faulkner"]
49933                                  ["Andrea Faulkner"]
49934                                  ["Andrea Faulkner"]
49935                                  ["Andrea Faulkner"]
49936                                  ["Andrea Faulkner"]
49937                                  ["Andrea Faulkner"]
49938                                  ["Andrea Faulkner"]
49939                                  ["Andrea Faulkner"]
49940                                  ["Andrea Faulkner"]
49941                                  ["Andrea Faulkner"]
49942                                       ["Erik Tripp"]
49943                                    ["Joshua Deleon"]
49944                                       ["Erik Tripp"]
49945                                    ["Joshua Deleon"]
49946                                    ["Joshua Deleon"]
49947                               ["Michelle Rodriguez"]
49948                               ["Michelle Rodriguez"]
49949                               ["Michelle Rodriguez"]
49950                               ["Michelle Rodriguez"]
49951                               ["Michelle Rodriguez"]
49952                               ["Michelle Rodriguez"]
49953                                      ["Jerome Bain"]
49954                                      ["Jerome Bain"]
49955                                      ["Jerome Bain"]
49956                                      ["Jerome Bain"]
49957                                      ["Jerome Bain"]
49958                                      ["Jerome Bain"]
49959                                      ["Jerome Bain"]
49960                                      ["Jerome Bain"]
49961                                      ["Jerome Bain"]
49962                                      ["Jerome Bain"]
49963                                      ["Jerome Bain"]
49964                                      ["Jerome Bain"]
49965                                      ["Jerome Bain"]
49966                                      ["Jerome Bain"]
49967                                    ["Pedro Jackson"]
49968                                    ["Pedro Jackson"]
49969                                    ["Pedro Jackson"]
49970                                    ["Pedro Jackson"]
49971                                    ["Pedro Jackson"]
49972                                    ["Pedro Jackson"]
49973                                    ["Pedro Jackson"]
Name: Participants, Length: 49974, dtype: object

## accessor - cat

In [90]:
invoices['Type of Meal'].cat.ordered

False

In [94]:
invoices['Type of Meal'].cat.categories

Index(['Breakfast', 'Dinner', 'Lunch'], dtype='object')

In [93]:
invoices['Type of Meal'].cat.codes

0        0
1        1
2        2
3        2
4        2
        ..
49969    1
49970    2
49971    1
49972    0
49973    1
Length: 49974, dtype: int8

In [88]:
invoices['Type of Meal'].cat.reorder_categories(['Lunch','Breakfast','Dinner'])

0        Breakfast
1           Dinner
2            Lunch
3            Lunch
4            Lunch
           ...
49969       Dinner
49970        Lunch
49971       Dinner
49972    Breakfast
49973       Dinner
Name: Type of Meal, Length: 49974, dtype: category
Categories (3, object): [Lunch, Breakfast, Dinner]

0        0
1        1
2        2
3        2
4        2
        ..
49969    1
49970    2
49971    1
49972    0
49973    1
Length: 49974, dtype: int8

In [ ]:
a.

In [7]:
invoices['Date'] - invoices['Date of Meal']

0       -4 days +16:00:00
1         1 days 04:00:00
2         4 days 13:00:00
3         1 days 12:00:00
4       -2 days +13:00:00
               ...
49969   -1 days +06:00:00
49970   -2 days +14:00:00
49971   -4 days +05:00:00
49972     4 days 18:00:00
49973     4 days 06:00:00
Length: 49974, dtype: timedelta64[ns]

In [77]:
pd.DatetimeIndex.tz_localize?

In [112]:
invoices['Meal Price'].astype(int)

ValueError: invalid literal for int() with base 10: 'Me too'

In [110]:
pd.to_numeric(invoices['Meal Price'],errors='coerce')

0        225.0
1        735.0
2        256.0
3        367.0
4          9.0
         ...
49772    665.0
49773    161.0
49774    634.0
49775    139.0
49776    834.0
Name: Meal Price, Length: 49777, dtype: float64

In [ ]:
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

In [4]:
import pandas.util.testing as tm

In [68]:
tm.makeBoolIndex()

Index([False, True, False, False, False, False, False, False, False, False], dtype='object')

In [5]:
tm.N, tm.K = 15, 3

In [51]:
berlin_timezone = pytz.timezone('Europe/Berlin')

test = pd.DataFrame({
    'date_from_first_source':tm.makeDateIndex(),
    'date_from_source': [datetime.datetime(2000, 1, np.random.randint(1,25), 8, 15, 12, 0, berlin_timezone) for i in range(10)]
})

In [56]:
test.to_csv('datetime_test.csv',index=False)
test = pd.read_csv('datetime_test.csv')

In [60]:
pd.to_datetime(test['date_from_first_source'])
pd.to_datetime(test['date_from_source'])

0   2000-01-03 07:22:12
1   2000-01-24 07:22:12
2   2000-01-13 07:22:12
3   2000-01-12 07:22:12
            ...
6   2000-01-02 07:22:12
7   2000-01-12 07:22:12
8   2000-01-06 07:22:12
9   2000-01-09 07:22:12
Name: date_from_source, Length: 10, dtype: datetime64[ns]

In [53]:
test['date_from_first_source'] - test['date_from_source']

TypeError: DatetimeIndex subtraction must have the same timezones or no timezones

In [13]:
datetime.datetime(2019,8,1,3,4,5)

datetime.datetime(2019, 8, 1, 3, 4, 5)

In [14]:
unaware = datetime.datetime(2011, 8, 15, 8, 15, 12, 0)
aware = datetime.datetime(2011, 8, 15, 8, 15, 12, 0, pytz.UTC)

In [20]:
unaware.isoformat()

'2011-08-15T08:15:12'

In [19]:
aware.isoformat()

'2011-08-15T08:15:12+00:00'

In [21]:
pytz?

In [30]:
amsterdam_time_zone = pytz.timezone('Europe/Amsterdam')
berlin_time_zone = pytz.timezone('Europe/Berlin')
us_eastern_time_zone = pytz.timezone('US/Eastern')

In [35]:
print(datetime.datetime.now(amsterdam_time_zone))
print(datetime.datetime.now(berlin_time_zone))
print(datetime.datetime.now(us_eastern_time_zone))

2019-09-15 12:21:14.701172+02:00
2019-09-15 12:21:14.701371+02:00
2019-09-15 06:21:14.701444-04:00

In [44]:
datetime.datetime.now(amsterdam_time_zone) - datetime.datetime.now(us_eastern_time_zone)

datetime.timedelta(days=-1, seconds=86399, microseconds=999977)

# Part 2

In [ ]:
order_data = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/order_leads.csv')
sales_team = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/sales_team.csv')