https://pypi.org/project/mysql-connector-python/

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector
import seaborn as sb
%matplotlib inline

In [2]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS')

In [3]:
mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
                             auth_plugin = 'mysql_native_password', db='employees')
mydb

In [4]:
c=mydb.cursor()
# c.execute('Create database tempo')
c.execute('Show databases')

for db in c:
    print(db)

# conn = sqlite3.connect('sakila-db/sakila.db')

('dbtest',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('tempo',)
('world',)

In [7]:
mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
                             auth_plugin = 'mysql_native_password', db='tempo')
c=mydb.cursor()
c.execute('Create table employee(name varchar(200), sal int(20))')

In [8]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
c.execute('Show tables')
for tb in c:
    print(tb)

('employee',)

In [9]:
sqlform = 'Insert into employee(name,sal) values(%s,%s)'

employees = [('charles', 20000), ('john', 30000), ('anne', 50000), ]
c.executemany(sqlform, employees)
mydb.commit()

In [10]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
c.execute('Select name from employee')
myresult = c.fetchone()

for row in myresult:
   print(row)

charles

In [13]:
mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
                             auth_plugin = 'mysql_native_password', db='tempo')
c=mydb.cursor()
c.execute('Select * from employee')
myresult = c.fetchall()

for row in myresult:
   print(row)

('charles', 20000)
('john', 30000)
('anne', 50000)

In [14]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
sql = "UPDATE employee SET sal=70000 WHERE name='anne'"
c.execute(sql)
mydb.commit()

In [15]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
c.execute('Select * from employee')
myresult = c.fetchall()

for row in myresult:
   print(row)

('charles', 20000)
('john', 30000)
('anne', 70000)

In [16]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
sql = "DELETE FROM employee WHERE name='anne'"
c.execute(sql)
mydb.commit()

In [17]:
# mydb=mysql.connector.connect(host='localhost', user=user_name, passwd=password, 
#                              auth_plugin = 'mysql_native_password', db='tempo')
# c=mydb.cursor()
c.execute('Select * from employee')
myresult = c.fetchall()

for row in myresult:
   print(row)

('charles', 20000)
('john', 30000)

In [ ]:
sql = "DROP TABLE employee"
c.execute(sql)
mydb.commit()